<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Drago Tucumán</title>
  <base href="/"/>
  {{ style('site/styles.css') }}
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="icon" type="image/x-icon" href="favicon.ico"/>
</head>
<body>
<app-root></app-root>
{{ script("/site/styles.js") }}
{{ script("/site/runtime.js") }}
{{ script("/site/polyfills.js") }}
{{ script("/site/vendor.js") }}
{{ script("/site/main.js") }}
</body>
</html>

