<!--c-logo-part-end-->
<section class="main-section team" id="team">
  <!--main-section team-start-->
  <div class="container">
    <h2>team</h2>
    <h6>Take a closer look into our amazing team. We won’t bite.</h6>
    <div class="team-leader-block clearfix">
      <div class="team-leader-box">
        <div class="team-leader animated fadeInDown delay-03s">
          <div class="team-leader-shadow"><a href="#"></a></div>
          <img src="assets/images/team-leader-pic1.jpg" alt="">
          <ul>
            <li><a href="#" class="fa-twitter"></a></li>
            <li><a href="#" class="fa-facebook"></a></li>
            <li><a href="#" class="fa-pinterest"></a></li>
            <li><a href="#" class="fa-google-plus"></a></li>
          </ul>
        </div>
        <h3 class="animated fadeInDown delay-03s">Walter White</h3>
        <span class="animated fadeInDown delay-03s">Chief Executive Officer</span>
        <p class="animated fadeInDown delay-03s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consequat sollicitudin cursus. Dolor sit amet, consectetur adipiscing elit proin consequat.</p>
      </div>
      <div class="team-leader-box">
        <div class="team-leader  animated fadeInDown delay-06s">
          <div class="team-leader-shadow"><a href="#"></a></div>
          <img src="assets/images/team-leader-pic2.jpg" alt="">
          <ul>
            <li><a href="#" class="fa-twitter"></a></li>
            <li><a href="#" class="fa-facebook"></a></li>
            <li><a href="#" class="fa-pinterest"></a></li>
            <li><a href="#" class="fa-google-plus"></a></li>
          </ul>
        </div>
        <h3 class="animated fadeInDown delay-06s">Jesse Pinkman</h3>
        <span class="animated fadeInDown delay-06s">Product Manager</span>
        <p class="animated fadeInDown delay-06s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consequat sollicitudin cursus. Dolor sit amet, consectetur adipiscing elit proin consequat.</p>
      </div>
      <div class="team-leader-box">
        <div class="team-leader animated fadeInDown delay-09s">
          <div class="team-leader-shadow"><a href="#"></a></div>
          <img src="assets/images/team-leader-pic3.jpg" alt="">
          <ul>
            <li><a href="#" class="fa-twitter"></a></li>
            <li><a href="#" class="fa-facebook"></a></li>
            <li><a href="#" class="fa-pinterest"></a></li>
            <li><a href="#" class="fa-google-plus"></a></li>
          </ul>
        </div>
        <h3 class="animated fadeInDown delay-09s">Skyler white</h3>
        <span class="animated fadeInDown delay-09s">Accountant</span>
        <p class="animated fadeInDown delay-09s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consequat sollicitudin cursus. Dolor sit amet, consectetur adipiscing elit proin consequat.</p>
      </div>
      <div class="team-leader-box">
        <div class="team-leader animated fadeInDown delay-03s">
          <div class="team-leader-shadow"><a href="#"></a></div>
          <img src="assets/images/team-leader-pic1.jpg" alt="">
          <ul>
            <li><a href="#" class="fa-twitter"></a></li>
            <li><a href="#" class="fa-facebook"></a></li>
            <li><a href="#" class="fa-pinterest"></a></li>
            <li><a href="#" class="fa-google-plus"></a></li>
          </ul>
        </div>
        <h3 class="animated fadeInDown delay-03s">Walter White</h3>
        <span class="animated fadeInDown delay-03s">Chief Executive Officer</span>
        <p class="animated fadeInDown delay-03s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consequat sollicitudin cursus. Dolor sit amet, consectetur adipiscing elit proin consequat.</p>
      </div>
      <div class="team-leader-box">
        <div class="team-leader  animated fadeInDown delay-06s">
          <div class="team-leader-shadow"><a href="#"></a></div>
          <img src="assets/images/team-leader-pic2.jpg" alt="">
          <ul>
            <li><a href="#" class="fa-twitter"></a></li>
            <li><a href="#" class="fa-facebook"></a></li>
            <li><a href="#" class="fa-pinterest"></a></li>
            <li><a href="#" class="fa-google-plus"></a></li>
          </ul>
        </div>
        <h3 class="animated fadeInDown delay-06s">Jesse Pinkman</h3>
        <span class="animated fadeInDown delay-06s">Product Manager</span>
        <p class="animated fadeInDown delay-06s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consequat sollicitudin cursus. Dolor sit amet, consectetur adipiscing elit proin consequat.</p>
      </div>
      <div class="team-leader-box">
        <div class="team-leader animated fadeInDown delay-09s">
          <div class="team-leader-shadow"><a href="#"></a></div>
          <img src="assets/images/team-leader-pic3.jpg" alt="">
          <ul>
            <li><a href="#" class="fa-twitter"></a></li>
            <li><a href="#" class="fa-facebook"></a></li>
            <li><a href="#" class="fa-pinterest"></a></li>
            <li><a href="#" class="fa-google-plus"></a></li>
          </ul>
        </div>
        <h3 class="animated fadeInDown delay-09s">Skyler white</h3>
        <span class="animated fadeInDown delay-09s">Accountant</span>
        <p class="animated fadeInDown delay-09s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consequat sollicitudin cursus. Dolor sit amet, consectetur adipiscing elit proin consequat.</p>
      </div>
    </div>
  </div>
</section>
